@font-face {
    font-family: 'Myriad Pro';
    src: url('../fonts/MyriadProRegular.ttf');
}
body {
    font-family: Myriad Pro;
}
.wrapper {
    max-width: 100%;
}
.navbar {
    background-color: #202628;
;
}
#responsive-menu a,
#navbar-brand,
.banner h3 {
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
}
.navbar li:hover {
    background-color: #E84C3D;
}
a {
    text-decoration: none;
}
.banner {
    max-width: 100%;
    margin-top: -20px;
    padding-top: 350px;
    background-image: url(../images/Layer-1.jpg);
    background-repeat: no-repeat;
    background-position: center;
    height: 560px;
}
.banner a,
.services a {
    color: #E84C3D;
}
.services {
    max-width: 100%;
    background-color: #E7E7E7;
    min-height: 280px;
    padding: 60px 0;
}
.rocket,
.shield,
.fire-extinguisher {
    padding: 0;
    height: 70px;
    width: 70px;
    margin-top: 30px;
    border-radius: 50%;
    background-color: #E84C3D;
}
.description {
    min-height: 515px;
    padding: 100px 0;
}
.lines {
    border: 1px solid #E7E7E7;
    border-left: none;
    border-right: none;
    color: #E84C3D;
    font-size: 14px;
    padding: 5px 0;
}
.descr-pad {
    padding-left: 0px;
    margin-left: 0;
}
.descr-pad p {
    margin-bottom: 30px;
}
.description h5 {
    text-transform: capitalize;
    font-weight: 700;
    font-size: 16px;
}
.description a {
    text-transform: uppercase;
    color: #fff;
    background-color: #E84C3D;
    padding: 10px 15px;
    border-radius: 20px;
}
.crow {
    height: 355px;
    background-image: url(../images/Layer-2.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.search {
    padding: 40px 0;
}
.red-field {
    min-height: 155px;
    padding: 40px 20px;
    background-color: #E84C3D;
    border-radius: 10px;
}
.photo1 {
    height: 70px;
    background-image: url(../images/photo1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.photo2 {
    height: 70px;
    background-image: url(../images/photo1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.photo3 {
    height: 70px;
    background-image: url(../images/photo1.png);
    background-position: center;
    background-repeat: no-repeat;
}
.footer {
    min-height: 205px;
    background-color: #202628;
    padding: 70px 0;
    color: #64696B;
}
.footer a {
    color: #64696B;
}
.foot-list {
    padding: 0;
}
.foot-list li {
    display: inline-block;
}
.foot-list li a {
    color: #fff;
}
.footer span,
.footer span a {
    color: #E84C3D;
}
h4,
h5 {
    text-transform: uppercase;
}
p {
    text-align: justify;
}
.contacts h4 {
    padding: 20px 0;
}
.ipt-form {
    max-width: 70%;
}
input,
button {
    display: inline-block;
}
.fire-extinguisher,
.rocket,
.shield {
    color: #fff;
    font-size: 250%;
    text-align: center;
}
i {
    margin-top: 19px;
}
.fb,
.twitter,
.linked {
    height: 72px;
    width: 72px;
    padding: 0 10px;
    background-color: #E84C3D;
    border-radius: 50%;
    text-align: center;
    font-size: 250%;
}
.twitter {
    margin: 0 10px;
}
.fb a,
.twitter a,
.linked a {
    color: #fff;
}
.fb a:visited,
.twitter a:visited,
.linked a:visited {
    color: #fff;
}
.bot-form {
    padding: 20px;
    background-color: #E7E7E7;
    border-radius: 5px;
}
.form-group input,
.form-group textarea {
    border-radius: 20px;
}
.contact-block p {
    line-height: 1em;
    padding: 0;
    margin: 7px 0;
    color: #767C7E;
}
.contact-block h5 {
    text-transform: capitalize;
    color: #E84C3D;
    font-weight: 700;
    font-size: 16px;
}
.contact-block i {
    font-size: 150%;
    vertical-align: text-top;
}
.sbmt-btn {
    background-color: #E84C3D;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
}
.sbmt-btn i,
.subscribe-btn i {
    margin: 0 0 0 10px;
}
.subscribe-btn {
    background-color: #202628;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
}
.subscribe-btn:hover {
    color: darkgrey;
}
.search {
    color: #fff;
}
.search .input-group input {
    min-width: 255px!important;
    border-radius: 20px!important;
}