body {
  color: #5E5E5E;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}
h1,h2,h3,h4,h5,h6{
	font-weight:400;
	margin-top:0;
}
a{
	color:#1E1F22;
}
a:hover, a:focus{
	text-decoration:none;
	outline: medium none;
}
p{
	margin-bottom:0;
}
img{
	max-width:100%;
	height:auto;
}


.container-fluid{
	padding-left:25px;
	padding-right:25px;
}
.main-wrapper {
  background-color: #D2D5D4;
  box-shadow: 0 138px 57px -68px rgba(0, 0, 0, 0.5) inset;
  background-image: url("../images/Banner.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  /* opacity: 0.75; */
  width: 100%;
}
.header {
  padding: 20px 0;
}
.logo {
  float: left;
}
.header-right {
  float: right;
}
.main-nav{}
.main-nav li{}
.main-nav li a{
	color:#FFFFFF;
	font-family: 'Noto Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    letter-spacing: 1px;
	padding: 8px 12px;
}
.main-nav li.sign_btn a{
	font-weight: 400;
}
.main-nav li a:hover, .main-nav li a:focus{
    background-color: rgba(0, 0, 0, 0);
}


.form-wrapper {
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  margin: 28vh auto 0;
  padding: 40px;
  width: 65%;
}
.form-wrapper h1 {
  color: #000000;
  font-size: 34px;
  text-align:center;
  margin-bottom: 20px;
}
.form-wrapper p {
  color: #000000;
  font-size: 17px;
  text-align:center;
  font-weight: 300;
  margin-bottom: 30px;
}
.form_group input[type="text"] {
  border: 1px solid #999999;
  float: left;
  font-size: 16px;
  height: 46px;
  outline: 0 none;
  padding: 11px;
  width: 80%;
}
.form_group input:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
}
.form_group .search_btn {
  background: none repeat scroll 0 0 #2488C9;
  border: 1px solid #2488C9;
  border-radius: 0 25px 25px 0;
  color: #FFFFFF;
  cursor: pointer;
  float: right;
  height: 46px;
  margin-left: -10px;
  padding: 10.5px 10px;
  text-align: center;
  width: 20%;
}
.search_btn .glyphicon-chevron-right {
  -webkit-animation:bounce-arrow .85s linear infinite;
  -ms-animation:bounce-arrow .85s linear infinite;
  animation:bounce-arrow 850ms linear infinite;
  margin-bottom: 4px;
  margin-left: 5px;
  vertical-align: middle;
}






