body {
    margin: 0 auto;
    width: 1400px;
    min-width: 1026px;
}

.container {
    height: 60px;
    width: 1026px;
    margin: 0 auto;
    padding-top: 10px;
}

.logo {
    float: left;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    color: #EE8129;
    font-weight: lighter;
    font-size: 28px;
    margin-top: 10px;
}
span {
    font-weight: bold;
    color: #3070A8;
}
ul {
    float: right;
}
.menu li {
    display: inline-block;
    list-style: none;
}
.menu a {
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 40px;
    color: #989898;
    font-family: 'Open Sans', sans-serif;
}
a:hover {
    padding-bottom: 50px;
    color: #3070A8;
    border-bottom: 2px solid #3070A8;
}
#banner {
    width: 100%;
    height: 585px;
    background-image: url(../img/laptop.png);
    background-repeat: no-repeat;
}

#banner p, .middle-section p, #banner h2, .middle-section h2, #banner h4, #banner button {
    text-align: center;
    color: #FFFFFF;
    line-height: 0.3em;
}
#banner p {
    padding-top: 160px;
    font-family: 'Open Sans', sans-serif;
    font-size: 28px;
}

.services h2 {
    font-weight: normal;
    padding-top: 60px;
    text-align: center;
    color: #35495A;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}
.hban {
    margin-top: 40px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
}
h4 {
    margin-top: 30px;
    font-style: italic;
    font-size: 18px;
    font-weight: normal;
}
.but button {
    width: 248px;
    height: 60px;
    background: none;
    margin: 0 auto;
    border: 1px solid #ccc;
    text-transform: uppercase;
}
.but{
    padding-top: 30px;
    width: 248px;
    height: 60px;
    margin: 0 auto;
}
button:hover {
    cursor: pointer;
    color: #48a9ff;
    background: rgba(98, 98, 98, 0.2);
    box-shadow: 0 1px 1px 1px #989898;
}
.serv-content {
    margin: 0 auto;
}
.serv-content div {
    width: 305px;
    display: inline-block;
}
.serv-content img {
    margin: 0 85px;
    align-content: center;
}
.serv-content h3 {
    text-align: center;
    text-transform: uppercase;
    color: #3070A8;
}
.serv-content p {
    text-align: center;
    color: #A9A9A9;
    line-height: 1.8em;
    padding-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}
.alert {
    margin: 0 51px;
}
.middle-section {
    margin-top: 350px;
    width: 100%;
    height: 575px;
    background-image: url(../img/mid-section.png);
    background-repeat: no-repeat;
}
.text-box {
    padding-top: 100px;
    width: 680px;
    margin-left: 189px;
}
.text-box h2 {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
    color: #EE8129;
    font-size: 25px;
}
.middle-section p {
    padding-top: 5px;
    padding-left: 5px;
    font-size: 15px;
    float: left;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
}
.text-box li {
    list-style: disc;
    color: #9D9D9D;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.7em;
}
.text-box li:nth-child(2){
    color: #3070A8;
    margin: 20px 0;
}
.content {
    width: 878px;
    margin: 0 auto;
    padding: 40px 0;
}
.price-box {
    width: 288px;
    color: #35495A;
    font-family: Verdana, "Trebuchet MS", Geneva, sans-serif;
    display: inline-block;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
}

.header-box {
    background: #EE8129;
    border: 2px solid #EE8129;
}
.price-box p {
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 22px;
    color: #3F4042;
    margin: 18px 0;
}
.pricing .price-tag {
    font-family: "Trebuchet MS", sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin: 0 auto;
    padding-bottom: 10px;
    color: #35495A;
}
.price-box li:nth-child(odd) {
    background-color: #EDF5FD;
}
.price-box li:nth-child(even) {
    background-color: #F5F5F6;
}
.price-box ul {
    font-family: "Trebuchet MS", sans-serif;
    width: 75%;
    float: left;
    margin: 20px 15px 4px;
    color: #888C94;
    list-style-image: url(../img/marker.png);
    list-style-position: inside;
}
.price-box ul li {
    margin-left: -40px;
    padding: 7px 0 7px 30px;
    margin-bottom: 1px;
}
sub, sup {
    font-size: 18px
}
sub {
    text-transform: none;
}
sup {
    vertical-align: text-top;
}
.price-box button {
    width: 256px;
    margin: 15px 15px 22px;
    text-transform: uppercase;
    padding: 11px 0;
    color: #FFFFFF;
    background: #EE8129;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    box-shadow: 0 1px 1px 1px rgb(179,86,11);
    outline: none;
}
.shadow {
    box-shadow: 0 0 5px 2px rgba(92, 105, 145, 0.6);
}
.price-box button:hover{
    color: #c6c6c6;
}

.price-box button:active{
    box-shadow: none;
    color: #c6c6c6;
    outline: none;
}

.standart .header-box {
    background: #2BC2D5;
    border: 1px solid #2BC2D5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.ultimate .header-box {
    background: #00B89A;
    border: 1px solid #00B89A;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.best {
    border: 5px solid #EE8129;
}
.standart button, .ultimate button {
    background: #2F70A8;
    box-shadow: 0 1px 1px 1px rgb(19,66,107);
    outline: none;
}
.standart button:active, .ultimate button:active {
    box-shadow: none;
    outline: none;
}
.best button {
    margin-bottom: 32px;
}
.header-box p {
    color: #FFFFFF;
    text-align: center;
    margin: 17px 0 16px;
    font-size: 22px;
}
.best {
    position: relative;
    z-index: 2;
    margin: 0 -2px;
}

.standart {
    margin-right: -3px;
    z-index: 1;
}
.ultimate {
    margin-left: -3px;
    z-index: 1;
}
.testimonials {
    width: 100%;
    height: 315px;
    background-image: url(../img/testimonials-bckgrnd.png);
    background-repeat: no-repeat;
    margin-top: 40px;
}
.testimonials h2 {
    text-align: center;
    text-transform: uppercase;
    color: #3170A8;
    padding: 50px 0;
    font-family: 'Open Sans', sans-serif;
}
.word {
    color: #EE8129;
    font-weight: normal;
}
.testimonials img {
    width: 98px;
    height: 98px;
    margin-right: 25px;
}

.client {
    display: inline-block;
}
.shape {
    width: 364px;
    height: 97px;
    background: #F7F7F7;
    margin-top: -15px;
}
.man {
    margin-left: 40px;
}
.customers {
    width: 1026px;
    height: 98px;
    margin: 0 auto;
}
.cust {
    float: right;
}
.testimonials h5 {
    color: #3070A8;
    font-style: italic;
    border-bottom: 1px dotted #959090;
    margin: 10px 15px;
    line-height: 1.8em;
}
.testimonials p {
    padding-top: 0;
    margin: 2px 0;
    padding: 0px 15px;
    color: #959090;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px
}
.triangle {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-right: 16px solid white;
    border-bottom: 12px solid transparent;
    position: absolute;
    top: 2722px;
}
.left {
    left: 298px;
}
.right {
    left: 833px;
}

.phone {
    padding-left: 190px;
    width: 504px;
    display: inline-block;
}

.phone ul {
    padding-bottom: 40px;
    float: left;
    list-style: none;
    color: #666666;
    font-size: 14px;
    line-height: 2em;
    font-family: 'Open Sans', sans-serif;
}
.phone li {
    padding: 3px 0;
}
.pointers {
    position: absolute;
}
.point {
    left: 193px;
    top: 2880px;
}
.cell {
    left: 193px;
    top: 3020px;
}
.letter {
    left: 190px;
    top: 3059px;
}
.social-networks {
    padding-top: 100px;
    width: 180px;
    height: 50px;
}
.map {
    display: inline-block;
    margin-left: -3px;
    width: 705px;
    height: 345px;
}
footer {
    margin-top: -18px;
    width: 100%;
    height: 105px;
    background: #3070A8;
}
footer p {
    color: #FFFFFF;
    text-align: center;
    line-height: .2em;
}
.parag1 {
    padding-top: 45px;
}
.parag1 span {
    color: #FFFFFF;
}
.parag2 span {
    color: #1D1C1C;
}
.social_nw {
    display: inline-block;
    padding-bottom: 0;
    border-bottom: none;
}
.social_nw:hover {
    padding-bottom: 0;
    border-bottom: none;
}
a.social_nw {
    display: inline-block;
}
.parag2 a {
    text-decoration: none;
}

.parag2 a:hover {
    padding-bottom: 0;
    border-bottom: none;
}