@font-face {
    font-family: font_ico;
    src: url(../fonts/fontawesome.otf);
    src: local('☺'), 
  	url(../fonts/fontawesome.eot?#iefix) format("embedded-opentype"), 
  	url(../fonts/fontawesome.woff) format("woff");
}

.bottom_slider{
	width: 1170px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.bottom_slider .up{
	width: 100%;
	height: 40px;
	background: url(../img/slide_bg.png);
	background-repeat: no-repeat;
	background-position: 160px center;
}

.bottom_slider .up .nam{
	width: auto;
	float: left;
}

.bottom_slider .up .nam h3{
	color: #7f8c8c;
	font-weight: 800;
	font-size: 16px;
	margin: 0;
	line-height: 40px;
}

.bottom_slider .up .nav{
	width: 118px;
	height: 40px;
	float: right;
	background: #f3f3f3;
	text-align: right;
}

.bottom_slider .up .nav .slide_left{
	width: 40px;
	height: 37px;
	background: #98a3a3;
	text-align: center;
	border-bottom: 3px solid #7f8c8c;
	border-radius: 5px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bottom_slider .up .nav .slide_left:hover{
	background: #e2534b;
	border-bottom: 3px solid #e2534b;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bottom_slider .up .nav .slide_right{
	width: 40px;
	height: 37px;
	background: #98a3a3;
	text-align: center;
	border-bottom: 3px solid #7f8c8c;
	border-radius: 5px;
	margin-left: 15px;
	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
}

.bottom_slider .up .nav .slide_right:hover{
	background: #e2534b;
	border-bottom: 3px solid #e2534b;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.bottom_slider .up .nav .slide_left, .slide_right span{
	font-family: 'font_ico', sans-serif;
	color: #ffffff;
	font-size: 20px;
	line-height: 40px;
}

.bottom_slider .our_slide{
	width: 100%;
	overflow: hidden;
	height: 90px;
	margin-top: 39px;
}

.bottom_slider .our_slide .ins{
	height: 90px;
}

.bottom_slider .our_slide .ins .one_item{
	width: 170px;
	height: 90px;
	overflow: hidden;
	border-radius: 5px;
	float: left;
	margin: 0 15px;
}

.bottom_slider .our_slide .ins .one_item img{
	width: 170px;
}

.bottom_slider .our_slide .ins .one_item:first-child{
	width: 170px;
	height: 90px;
	overflow: hidden;
	border-radius: 5px;
	float: left;
	margin: 0 15px 0 0;
}

.bottom_slider .our_slide .ins .one_item:last-child{
	width: 170px;
	height: 90px;
	overflow: hidden;
	border-radius: 5px;
	float: left;
	margin: 0 0 0 15px;
}

@media (min-width: 640px) and (max-width: 966px),only screen and (min-device-width: 640px) and (max-device-width: 966px) {
	
	.bottom_slider{
		width: 90%;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}

	.bottom_slider .up{
		width: 100%;
		height: 40px;
		background: url(../img/slide_bg.png);
		background-repeat: no-repeat;
		background-position: 160px center;
	}

	.bottom_slider .up .nam{
		width: auto;
		float: left;
	}

	.bottom_slider .up .nam h3{
		color: #7f8c8c;
		font-weight: 800;
		font-size: 16px;
		margin: 0;
		line-height: 40px;
	}

	.bottom_slider .up .nav{
		width: 118px;
		height: 40px;
		float: right;
		background: #f3f3f3;
		text-align: right;
	}

	.bottom_slider .up .nav .slide_left{
		width: 40px;
		height: 37px;
		background: #98a3a3;
		text-align: center;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.bottom_slider .up .nav .slide_left:hover{
		background: #e2534b;
		border-bottom: 3px solid #e2534b;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.bottom_slider .up .nav .slide_right{
		width: 40px;
		height: 37px;
		background: #98a3a3;
		text-align: center;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.bottom_slider .up .nav .slide_right:hover{
		background: #e2534b;
		border-bottom: 3px solid #e2534b;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.bottom_slider .up .nav .slide_left, .slide_right span{
		font-family: 'font_ico', sans-serif;
		color: #ffffff;
		font-size: 20px;
		line-height: 40px;
	}

	.bottom_slider .our_slide{
		width: 570px;
		overflow: hidden;
		height: 90px;
		margin: 39px auto 0 auto;
	}

	.bottom_slider .our_slide .ins{
		height: 90px;
	}

	.bottom_slider .our_slide .ins .one_item{
		width: 170px;
		height: 90px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 15px;
	}

	.bottom_slider .our_slide .ins .one_item img{
		width: 170px;
	}

	.bottom_slider .our_slide .ins .one_item:first-child{
		width: 170px;
		height: 90px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 15px 0 0;
	}

	.bottom_slider .our_slide .ins .one_item:last-child{
		width: 170px;
		height: 90px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 0 0 15px;
	}
}



@media (min-width: 0px) and (max-width: 640px),only screen and (min-device-width: 0px) and (max-device-width: 640px) {
	
	.bottom_slider{
		width: 300px;
		margin: 0 auto;
		overflow: hidden;
		position: relative;
	}

	.bottom_slider .up{
		width: 100%;
		height: 40px;
		background: url(../img/slide_bg.png);
		background-repeat: no-repeat;
		background-position: 160px center;
	}

	.bottom_slider .up .nam{
		width: auto;
		float: left;
	}

	.bottom_slider .up .nam h3{
		color: #7f8c8c;
		font-weight: 800;
		font-size: 16px;
		margin: 0;
		line-height: 40px;
	}

	.bottom_slider .up .nav{
		width: 118px;
		height: 40px;
		float: right;
		background: #f3f3f3;
		text-align: right;
	}

	.bottom_slider .up .nav .slide_left{
		width: 40px;
		height: 37px;
		background: #98a3a3;
		text-align: center;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.bottom_slider .up .nav .slide_left:hover{
		background: #e2534b;
		border-bottom: 3px solid #e2534b;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.bottom_slider .up .nav .slide_right{
		width: 40px;
		height: 37px;
		background: #98a3a3;
		text-align: center;
		border-bottom: 3px solid #7f8c8c;
		border-radius: 5px;
		margin-left: 15px;
		display: inline-block;
		vertical-align: top;
		cursor: pointer;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
	}

	.bottom_slider .up .nav .slide_right:hover{
		background: #e2534b;
		border-bottom: 3px solid #e2534b;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.bottom_slider .up .nav .slide_left, .slide_right span{
		font-family: 'font_ico', sans-serif;
		color: #ffffff;
		font-size: 20px;
		line-height: 40px;
	}

	.bottom_slider .our_slide{
		width: 300px;
		overflow: hidden;
		height: 72px;
		margin: 39px auto 0 auto;
	}

	.bottom_slider .our_slide .ins{
		height: 90px;
	}

	.bottom_slider .our_slide .ins .one_item{
		width: 135px;
		height: 72px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 15px;
	}

	.bottom_slider .our_slide .ins .one_item img{
		width: 140px;
	}

	.bottom_slider .our_slide .ins .one_item:first-child{
		width: 135px;
		height: 72px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 15px 0 0;
	}

	.bottom_slider .our_slide .ins .one_item:last-child{
		width: 135px;
		height: 72px;
		overflow: hidden;
		border-radius: 5px;
		float: left;
		margin: 0 0 0 15px;
	}
}