@font-face {
    font-family: font_ico;
    src: url(../fonts/fontawesome.otf);
    src: local('☺'), 
  	url(../fonts/fontawesome.eot?#iefix) format("embedded-opentype"), 
  	url(../fonts/fontawesome.woff) format("woff");
}

.slider{
	width: 100%;
	overflow: hidden;
	position: relative;
}

.slider .container{
	overflow-y: hidden;
}

.slider .container .item{
	width: 100%;
	height: auto;
	float: left;
	position: relative;
}

.slider .container .item img{
	width: 100%;
}

.slider .container .item .text_block{
	width: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
	text-align: center;
}

.slider .container .item .text_block .title{
	width: auto;
	display: inline-block;
	margin: 0 auto;
	background: #e8645a;
	padding: 0 12px;
	border-radius: 5px;
	color: #ffffff;
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
}

.slider .container .item .text_block .other_text{
	max-width: 470px;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 5px;
	text-align: center;
	padding: 10px 0;
	margin-top: 10px;
}

.slider .container .item .text_block .other_text p{
	color: #ffffff;
	font-size: 15px;
	margin: 0;
}

.slider .container .nav_l{
	width: 50px;
	height: 57px;
	background: #e8645a;
	border-bottom: 3px solid #e2534b;
	border-radius: 0 5px 5px 0;
	line-height: 60px;
	text-align: center;
	font-family: 'font_ico', sans-serif;
	font-size: 40px;
	margin: -30px 0 0 0;
	color: #ffffff;
	position: absolute;
	left: 0;
	top: 50%;
	cursor: pointer;
}

.slider .container .nav_r{
	width: 50px;
	height: 57px;
	background: #e8645a;
	border-bottom: 3px solid #e2534b;
	border-radius: 5px 0 0 5px;
	line-height: 60px;
	text-align: center;
	font-family: 'font_ico', sans-serif;
	font-size: 40px;
	margin: -30px 0 0 0;
	color: #ffffff;
	position: absolute;
	right: 0;
	top: 50%;
	cursor: pointer;
}

.slider .slice{
	width: 100%;
	height: 5px;
	margin: 21px 0;
	text-align: center;
}

.slider .slice .one_slice{
	width: 60px;
	height: 5px;
	background: #b0b8b9;
	cursor: pointer;
	display: inline-block;
	vertical-align: middle;
	margin: 0 3px;
}

.slider .slice .one_slice.active{
	background: #e2534b;
}

@media (min-width:0px) and (max-width:768px),only screen and (min-device-width: 0px) and (max-device-width: 768px) {
	.slider{
		display: none;
	}
}