*
{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
header {
    height: 100%;
    background-color: #171717;
}

.nav {
    height: 115px;
    background: #44433e;
    text-align: right;
}
.nav li {
    display: inline-block;
    margin: 50px 20px 0 0;
    text-transform: uppercase;
}

a {
    width: auto;
    text-decoration: none;
    color: white;
    padding: 0 10px;
}

li a:hover {
    color: #18cfab;
    border-bottom: 1px solid #18cfab;
}

h1 {
    color: white;
    font-family: Montserrat;
    font-size: 79px;
    font-weight: 700;
    line-height: 84px;
    text-transform: uppercase;
    text-align: center;
}

h2 {
    margin-top: 365px;
    color: white;
    height: 25px;
    font-family: Montserrat;
    font-size: 35px;
    font-weight: 700;
    line-height: 10px;
    text-transform: uppercase;
    text-align: center;
}

span {
    color: #18cfab;

}

p {
    height: 33px;
    color: #d4d4d4;
    font-family: Montserrat;
    font-size: 34px;
    font-weight: 300;
    line-height: 84px;
    color: #d4d4d4;
    text-align: center;
}

form {
    /*margin-top: 108px;
    margin-left: 480px;*/
    text-align: center;

}
.button {
    width: 165px;
    height: 60px;
    background-color: #18cfab;
    border-radius: 4px;
    margin-right: 20px;
}

.purchase {
    background-color: #00cbf6;
}

.section {
    height: 374px;
}

.block {
    width: 480px;
    height: 374px;
    float: left;
}

.theme {
    background-color: #1c2a33;
}

.fully {
    background-color: #18cfab;
}

.support {
    background-color: #1c2a33;
}

.device {
    background-color: #18cfab;
}